.navStyle {
    background-color: #58A4B0;
}

.titleAURASTORE {
    margin-left: 1%;
}

.carousel{
    margin: 20px;
}

.navBottomStyle {
    background-color: #D8DBE2;
}

.linha-vertical {
    height: 20px;
    border-left: 2px solid;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
  }

  .list1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
 }

 .nossamissao {
    margin-right: 200px;
 }